<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
  <head>
    <% if (!user) { %>
      <title><%= title %>- Weekly Report</title>
    <% } else { %>
      <title><%= title %> - <%= user.name %></title>
    <% } %>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-responsive.css"  />

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Weekly Report</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <% if (!user) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/reg">Register</a></li>
              <% } else { %>
                <li><a href="/logout">Logout</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="container" class="container-fluid">
      <% if (success && success.length) { %>
        <div class="alert alert-success">
          <%= success %>
        </div>
      <% } %>
      <% if (error && error.length) { %>
        <div class="alert alert-error">
          <%= error %>
        </div>
      <% } %>
      <%- body %>
      <hr />
      <footer>
        <p><a href="http://intranet.sonyericsson.net/" target="_blank">SoMC Internal</a> 2013</p>
      </footer>
    </div>
  </body>
</html>